.productCard-container {
    
    width: 235px;
    height: 392px;
    margin-top: 20px;

    cursor: pointer;
}


.image-productCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #f2f2f2;
}

.image-productCard > img {
    height: 90%;
    mix-blend-mode: multiply;
    transition: all 0.3s ease;
}

.productCard-container:hover > .image-productCard > img {
    transform: scale(1.05);
}

.description-productCard {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fafafa;
    padding: 15px 20px 15px 20px;
}

.price-productCard {
    font-weight: 500;
    font-size: 1.17em;
    line-height: 100%;
}

.name-product-productCard {
    font-size: 0.8em;
    font-weight: 400;

    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limita a 2 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


